[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
flask = "*"
flask-restx = "*"
flask-bcrypt = "*"
arango = "*"
python-arango = "*"
asyncio = "*"
ujson = "*"
email-validator = "*"
flask-jwt-extended = "*"
flask-cors = "*"
python-dotenv = "*"
werkzeug="*"
omero-py = "*"
pandas = "*"
aicsimageio = "*"
scikit-image = "*"
basicauth = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
